<!DOCTYPE HTML>
<html>
	<head>
		<title>Mason Currie</title>
		<script src="https://kit.fontawesome.com/64dce1c83a.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="static/images/Profile.png" alt="" /></span>
					<h1 id="logo"><a href="#">Mason Currie</a></h1>
					<p>Jr. Backend Developer</p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#one" class="active">About Me</a></li>
						<li><a href="#two">My Skills</a></li>
						<li><a href="#three">Projects</a></li>
						<li><a href="#four">Contact Me</a></li>
					</ul>
				</nav>

				<footer>
					<ul class="icons">
						<li><a href="static/images/Mason_Currie_Resume.pdf" title="" download>Resume</a></li>
						<li><a href="https://www.linkedin.com/in/mason-currie-010772b8/" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
						<li><a href="https://github.com/mercurrie" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.instagram.com/nerd_merc/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<div class="image main" data-position="center">
									<img src="static/images/banner.jpeg" alt="" />
								</div>
								<div class="container">
									<header class="major">
										<h2>About Me</h2>
										<p>Hi, I'm Mason. </p>
									</header>
									<p>I'm a <em style="color: #4acaa8">backend web developer</em>, currently based in Austin, TX.
										My love for tech, solving problems, and challenging myself guided me towards
										the world of software development. Due to my desire to learn and constantly improve,
										I’ve gained valuable skills during my college career and post graduation.
										I spend most of my free time exploring new
										technologies and frameworks, refining my skills and trying new things.
										I pride myself in my ability to pick up new skills quickly and adapt to any environment.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="two">
								<div class="container">
									<h3>My Skills</h3>
									<ul class="feature-icons">
										<li class="icon  fa-python">Python</li>
										<li class="icon solid fa-html5">HTML5</li>
										<li class="icon fa-css3">CSS3</li>
										<li class="icon solid fa-flask">FLASK</li>
										<li class="icon solid fa-file">JSON</li>
										<li class="icon solid fa-aws">AWS</li>
										<li class="icon solid fa-database">SQLite</li>
										<li class="icon solid fa-code-fork">Git</li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="container">
									<h3>Projects</h3>
									<p>Here are a few of the personal projects I used to hone my skills.</p>
									<div class="features">
										<article>
											<a href="https://github.com/mercurrie/Blog" class="image"><img src="static/images/blog.jpg" alt="Picture of Blog Website" /></a>
											<div class="inner">
												<h4>Blog</h4>
												<p>Blog website utilizing Python, Flask, CSS, HTML,
													Javascript, and Bootstrap.</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/mercurrie/snake_game" class="image"><img src="static/images/snake.png" alt="Picture of Snake Game" /></a>
											<div class="inner">
												<h4>Snake</h4>
												<p>Replica of the classic "Snake" game built using Python.</p>
											</div>
										</article>
										<article>
											<a href="https://github.com/mercurrie/flash_cards/tree/feature/french_flash_cards" class="image"><img src="static/images/flash.png" alt="" /></a>
											<div class="inner">
												<h4>Flash Cards</h4>
												<p>Application utilizing Python, and JSON digital flash cards out of French/English translations stored in a Json file.</p>
											</div>
										</article>
									</div>
								</div>
							</section>

						<!-- Four -->
							<section id="four">
								<div class="container">
									<h3>Contact Me</h3>
									<p>I'd love to hear from you.</p>
									<form method="post" action="https://formsubmit.co/masoncu13@ymail.com">
										<div class="row gtr-uniform">
											<div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
											<div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
											<div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
											<div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
											<div class="col-12">
												<ul class="actions">
													<li><input type="submit" class="primary" value="Send Message" /></li>
													<li><input type="reset" value="Reset Form" /></li>
												</ul>
											</div>
										</div>
									</form>
								</div>
							</section>
					</div>

				<!-- Footer -->
					<section id="footer">
						<div class="container">
							<ul class="copyright">
								<li>Mason Currie. All rights reserved.</li>
							</ul>
						</div>
					</section>
			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>